<footer class="bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mt-4">
          <h4>Hakkımızda</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod ante a elit fringilla fringilla. Etiam mattis posuere nunc, sit amet tincidunt ex bibendum id.</p>
        </div>
        <div class="col-md-4 border border-success  mt-4">
          <h4>İletişim</h4>
          <p>Adres:Gülbahar mahallesi(Gülbağ). Şişli/İstanbul</p>
          <p>Telefon: 05301718759</p>
          <p>Email: GulbagYemis@gmail.com</p>
        </div>
        <div class="col-md-4 mt-4 " >
          <h4 class="mb-4">Sosyal Medya</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="font-size:2rem"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter" style="font-size:2rem"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram" style="font-size:2rem"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3">
      © 2023 Örnek Site | Tüm hakları saklıdır.
    </div>
  </footer>