<header>
  <header>
    <div class="container-fluid bg-success py-3">
      <div class="row">
        <div class="col-1 ">
          <a href="/profile" class="text-white position-relative ml-3" >
            <i class="fas fa-user fa-5x"></i>
          </a>
        </div>
        <div class="col-10">
          <h1 class="text-center text-white myh1">GÜLBAĞ KURUYEMİŞ VE BAKLİYAT</h1>
        </div>
        <div class="col-1">
          <a href="/sepet" class="text-white position-relative">
            <i class="fas fa-shopping-basket fa-5x"></i>
            <span  id="cartItemCount" class="badge badge-danger rounded-circle position-absolute top-0 end-0" style="width:30px; padding:8px 0px"><%=sepet.length%></span>
          </a>
        </div>
      </div>
    </div>
  </header>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav text-center">

          <li class="nav-item bg-warning border border-info rounded mr-3">
            <a class="nav-link px-3 py-3" href="/" id="font">Ana Sayfa</a>
          </li>

          <div class="btn-group">
            <button type="button" class="btn btn-warning border border-info dropdown-toggle mr-3" id="font" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ürünler
            </button>

            <div class="dropdown-menu" aria-labelledby="font">
              <a class="dropdown-item" href="#" data-toggle="dropdown" id="kuruyemisler-link">Kuruyemişler</a>
              <div class="dropdown-menu kuruyemis-menu">
                <a class="dropdown-item" href="#">Fındık</a>
                <a class="dropdown-item" href="#">Badem</a>
                <a class="dropdown-item" href="#">Ceviz</a>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#" data-toggle="dropdown" id="bakliyatlar-link">Bakliyatlar</a>
              <div class="dropdown-menu bakliyatlar-menu">
                <a class="dropdown-item" href="#">Kuru Fasulye</a>
                <a class="dropdown-item" href="#">Nohut</a>
                <a class="dropdown-item" href="#">Mercimek</a>
              </div>
            </div>
          </div>

          <li class="nav-item bg-warning border border-info rounded mr-3">
            <a class="nav-link px-3 py-3" href="#" id="font">Hakkkımızda</a>
          </li>

          <li class="nav-item bg-warning border border-info rounded">
            <a class="nav-link px-3 py-3" href="#" id="font">İletişim</a>
          </li>
        </ul>       
      </div>         
    </div>
    <div class=" ml-5">
      <!--giriş yap ve üye ol linki-->
      <div class="card bg-info rounded" style="width: 25rem; margin-right: 30px; border-color: aqua;">
        <div class="card-body">
          <h5 class="card-title">Giriş / Kayıt / Çıkış</h5>
          <hr>
          <div class="row">
            <% if(!islogin) { %>
            <div class="col-sm-6">
              <a href="/login" class="btn btn-warning btn-block">Giriş yap</a>
            </div>
            <% } %>
            <% if(!islogin) { %>
            <div class="col-sm-6">
              <a href="/register" class="btn btn-secondary btn-block">Üye Ol</a>
            </div>
            <% } %>
            <% if(islogin) { %>
              <div class="col-sm-12">
                <a href="/logout" class="btn btn-danger btn-block font-weight-bold">Çıkış Yap</a>
              </div>
              <% } %>

          </div>
        </div>
      </div>
      </div>
  </nav>
</header>
<script>
   

</script>
<!-- <script src="/js/main.js"></script> -->
<script src="/js/jquery.js"></script>
   
    
    
