<!DOCTYPE html>
<html>
  <head>
    <title>Kuruyemişci Siteniz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--fontawesome-->
    <head>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    </head>
    
  </head>


  <body>
    <%- include('../includes/nav.ejs') %>

    <main class="bg-info" >
      
      <section class="jumbotron">
        <div class="container-fluid" >
          <div class="row">
            <div class="col-12 col-md-4">
              <img src="images/hd-turk-bayragi-arkaplan-resimleri-9.jpg" alt="Kuruyemişci Siteniz" width="75%" height="auto">
            </div>
            <div class="col-12 col-md-8" style="padding-left:320px" >
              <h1 class="display-4">Kuruyemişlerin Lezzeti Burada!</h1>
              <p class="lead">En kaliteli kuruyemişleri en uygun fiyatlarla satın alabilirsiniz.</p>
              <button href="#" class="btn btn-primary" onclick="scrollToSection()">Hemen Satın Al</button>
            </div>
          </div>
        </div>
      </section>
      <div class="container" id="gothere">
        <h1 class="text-center mb-4">Ürünlerimiz</h2>
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/antep-fistik-antep-fistigi-913-15-B.jpg" alt="Badem" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Antep Fıstığı</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p>  
                <p class="card-text fll">300 TL <a href="/product/antepfistigi" class="btn btn-warning mybtn px-2.8 py-2">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/kavrulmus-findik-antepyolucom.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">  
                <h4 class="card-title">Fındık</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p> 
                <p class="card-text fll">170 TL<a href="/product/findik" class="btn btn-warning mybtn">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/ay-cekirdegi-siyah-tuzlu_1615888792.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Ay çekirdeği</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p> 
                <p class="card-text fll">55 TL<a href="/product/AyCekirdegi" class="btn btn-warning mybtn">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/badem-e1565541833776.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Badem</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p> 
                <p class="card-text fll">200 TL<a href="/product/Badem" class="btn btn-warning mybtn">Satın Al</a ></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/kaju-kavrulmus.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Kaju</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p> 
                <p class="card-text fll">210 TL<a href="/product/Kaju" class="btn btn-warning mybtn">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/karışık.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Karışık</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p>  
                <p class="card-text fll">145 TL<a href="/product/Karisik" class="btn btn-warning mybtn">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/lux-ceviz-ici.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Ceviz içi</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p>  
                <p class="card-text fll">180 TL<a href="/product/Cevizici" class="btn btn-warning mybtn">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/ORG-soslu-misir-kg178.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Soslu Mısır</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p> 
                <p class="card-text fll">60 TL<a href="/product/SosMisir" class="btn btn-warning mybtn">Satın Al</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="card">
              <img class="card-img-top" src="/images/leblebi.jpg" alt="Fındık" width="300px" height="300px">
              <div class="card-body">
                <h4 class="card-title">Leblebi</h4>
                <p class="card-text fll">Stok: <span class="fll">5 kg</span></p> 
                <p class="card-text fll">75 TL<a href="/product/Leblebi" class="btn btn-warning mybtn">Satın Al</a ></p>
              </div>
            </div>
          </div>
		  </main>



      <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
      <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  <script src="js/popper.min.js"></script>
		  </body>
      <footer class="bg-dark text-light">
        <div class="container">
          <div class="row">
            <div class="col-md-4 mt-4">
              <h4>Hakkımızda</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod ante a elit fringilla fringilla. Etiam mattis posuere nunc, sit amet tincidunt ex bibendum id.</p>
            </div>
            <div class="col-md-4 border border-success  mt-4">
              <h4>İletişim</h4>
              <p>Adres:Gülbahar mah. Bulut Sok. No:1</p>
              <p>Telefon: 05382248815</p>
              <p>Email: GulbagYemis@gmail.com</p>
            </div>
            <div class="col-md-4 mt-4 " >
              <h4 class="mb-4">Sosyal Medya</h4>
              <ul class="list-inline">
                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook" style="font-size:2rem"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter" style="font-size:2rem"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram" style="font-size:2rem"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center p-3">
          © 2023 Örnek Site | Tüm hakları saklıdır.
        </div>
      </footer>
      <script src="/js/main.js"></script>
      <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
      <!-- <script src="js/popper.js"></script> -->
		  </html>